[submodule "Examples/01-BLE_Test/u8g2"]
	path = Examples/01-BLE_Test/u8g2
	url = https://github.com/kolschik/u8g2.git
[submodule "Examples/01-BLE_Test/stm_lib"]
	path = Examples/01-BLE_Test/stm_lib
	url = https://github.com/kolschik/stm_lib.git
